<template>
  <div class="input-field">
    <v-text-field
      outlined
      v-model="model"
      v-bind="$attrs"
    />
  </div>
</template>

<script>
  export default {
    props: {
      value: {
        type: String | Number,
        default: '',
      },
    },
    mixins: [],
    components: {},
    data: () => ({
      model: ''
    }),
    computed: {},
    methods: {},
    created() {
    },
    mounted() {
    },
    updated() {
    },
    activated() {
    },
    deactivated() {
    },
    watch: {
      value(el) {
        this.model = el;
      },
      model(val) {
        val = this.model.replace(/<[^>]+>/g,'');
        this.$emit('input', val)
      }
    },
  }
</script>

<style lang="scss" scoped>

</style>
