<template>
  <v-container class="ui_kits">
    <h1>UI kits components</h1>
    <v-divider/>
    <h3>AppInputField</h3>
    <p>Путь к компоненту:</p>
    <p><code>../components/ui/AppInputField.vue</code></p>
    <p>Вызов компонента:</p>
    <p><code> AppInputField </code></p>
    <p>-- Данный компонент, может принимать в себя все существующие атрибуты -
      <a href="https://vuetifyjs.com/ru/components/text-fields" target="_blank">vuetifyjs</a>
    </p>
    <p>-- Данный AppInputField, обрезает HTML теги</p>
    <AppInputField label="is label" v-model="msg"/>
    <p>Результат работы компонента:</p>
    <pre>{{msg}}</pre>
  </v-container>
</template>

<script>
  import AppInputField from "../components/ui/AppInputField";

  export default {
    mixins: [],
    components: {
      AppInputField
    },
    data: () => ({
      msg: ''
    }),
    computed: {},
    methods: {},
    created() {
    },
    mounted() {
    },
    updated() {
    },
    activated() {
    },
    deactivated() {
    },
    watch: {},
  }
</script>

<style lang="scss" scoped>
  .ui_kits {

    h1 {
      margin-bottom: 10px;
    }

    h3 {
      margin-bottom: 10px;
    }

    &--title {
    }
  }
</style>
